// .card_wrapper{
//         display: flex;
//         flex-direction: column;
//         padding: 20px;
//         justify-content: center;
//         align-items: center;
//         width: 40%;
//     .cards{
//         // display: flex;
//         // flex-direction: column;
//         // padding: 20px;
//         // justify-content: center;
//         // align-items: center;
//         // width: 40%;
//         .image{
//             width: 70px;
//             height: 100px;
//         }
//     }
.cards{
   img{
    width: 100%;
    max-width: inherit;
    object-fit: contain;
   }
    .rs_div {
        display: flex;
        margin-left: 15px;
        gap: 20px;
    }
}