.Blogs_Wrapper{
    width: 90%;
    gap: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 16px;
    flex-direction: column;
    .Blogs{
        display: flex;
        overflow: hidden;
        margin: auto;
        padding: 20px; 
        overflow: hidden;
    }
}