.Happenings_Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .Cards{
        left: 0px;
        gap: 20px;
        display: flex;
        margin-top: 40px;
        flex-direction: row;
    }
}