.Happenings_Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .Cards{
        left: 0px;
        display: flex;
        flex-direction: row;
    }
}