.Footer_wrapper{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    .Link_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-around;
        .About{
            display: flex;
            flex-direction: column;
        }
        .Quick_Links{
            display: flex;
            flex-direction: column;
        }
        .ContactUs{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .Follow{
            display: flex;
            flex-direction: column;
            .Images{
                display: flex;
                gap: 5px;
            }
        }
    }
    .Terms{
        margin-top: 50px;
        background-color: #F2F2F2;
        text-align: center;
    }
    .footer{
        margin-top: 50px;
     width: 100%;
     img{
        width: 100%;
     }
    }
}